@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One', cursive;
}

body { 
    background: #ffe5d6;
}

header{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.381);
    padding: 20px;
    background: url(../../imagens/img/fundin.jpg);
}

header  img{
    display: inline;
}

header  nav {
    padding-top: 15px;
    padding-bottom: 10px;
    display: block;
    
}

header  a{
    padding:5px 20px;
    text-decoration: none;
    color: #261e1e;
    font-size: 1.2em;
}

header a:hover{
    cursor: pointer;
    transition: 200ms;
    color: #ffc48d;
}

ul{
    display: flex;
    list-style: none;
    gap: 80px;
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
}

table{
    
    display: flex;
    margin: auto;
}


td{
    padding: 10px;
    border-bottom: 3px solid black;
}

p{
    margin: 20px;
    text-align: center;
}

a{
    
    text-decoration: none;
    color: #261E1E;
    
}
a:hover{
    cursor: pointer;
    transition: 200ms;
    color:#dea04f;
    
}

li img{
    box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.432);
}
.menuInterativo{
    text-align: center;
}

#animacaoLogo{
    position: relative;
    top: 0;
}

#animacaoLogo:hover{
    top: -4px;
    transition: all .2s ease-in-out;
}

.inputLabel {
    cursor: pointer;
}

.espacoGuia{
    margin-top: 45px;
}

.espacoLogin{
    margin-top: 45px;
    margin-right: 20px;
}

.espacoChar{
    margin: 20px;
}

.redesSociais{
   margin-left: 30px;
}


.footer{
    background-color: #3c3232;
    padding: 100px;
    text-align: center;
    color: #fee8dd;
}

.lista-imagens{
    list-style: none;
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.lista-imagens2{
    list-style: none;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.lista-imagens3{
    list-style: none;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

h1{
    padding: 40px;
    text-align: center;
}

#animacaoOng{
    position: relative;
    top: 0;
}

#animacaoOng:hover{
    top: -9px;
    transition: all .2s ease-in-out;
}

