@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url("imagens/fundin.jpg");
    padding:0px 100px;
}

body { 
    background-color: #FEE8DD
    
}

ul{
    display: flex;
    list-style: none;
    gap: 80px;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: black;
    
}
ul,a:hover{
    cursor: pointer;
    color:rgb(255, 145, 0);
    transition: 200ms;
}

