footer{
    font-size: 12px;
    display: flex;
    padding: 30px 15px 20px 15px;
    background-color: #ffffff;

}

footer img{
    margin: auto;
    
}
footer p{
    font-size: 14px;
    padding-left: 120px;
    text-align: center;
    width: 700px;
    color: #000000;
}

footer a{
    text-decoration: none;
    color: #000000;
}

footer a:hover{
    cursor: pointer;
    transition: 200ms;
    color: #ffc48d;
}

footer .ulFooter{
    columns: 2;
}

footer .liFooter{
    list-style: none;
    padding: 6px 5px 6px 20px;
}