*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    
}
body{
    background: bisque;
}
 
.cabecalho{
    height: 200px;
    background-color: #de985e;
    border: 4px solid black;
 
}
.logo-adota{
    width: 460px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
.navegacao-itens{
    display: inline-flex;
    padding: 20px ;
    font-size: 25px;
    margin-left: 10px;
    color: white;
    font-size: larger;
    font-variant: small-caps;
}
 
a:hover{
    color: black;
    transition: 1s;
 
}
a{
    text-decoration: none;
    color: white;
}