@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
html{
    background: url("imagens/FundoPageAdotaPet.png");
}
 body{
    margin-top: 66px;
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
    font-weight: lighter;

}


table{
    height: 500px;
    padding: 20px;
    background: linear-gradient(to bottom right, #e9cdb5, #F7EDE4);
    box-shadow: 0px 10px 13px -7px #261E1E, 16px 19px 22px 9px rgba(0,0,0,0.23);
    border-radius: 20px;
}

tr{
    margin: 30px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #fafafa;
  border-radius: 50%;
  border: 2px solid #cacece;
}

.titulo{
    font-size:10px;
}

.mesclar{
    text-align: center;
    
}

.inputInfo{
    width: 300px;
    height: 25px;
    margin: 5px;
    border-radius: 13px;
    border-color: #EBC697;
    background-color: #F9DFC7;
    border-style:double;
    color: #261E1E;
    box-shadow: 0px 7px 10px -7px #261E1E, 2px 3px 9px 3px rgba(0,0,0,0.23);

}

.inputNumero{
    width: 100px;
    height: 25px;
    margin: 5px;
    border-radius: 13px;
    border-color: #EBC697;
    background-color: #F9DFC7;
    border-style:double;
    color: #261E1E;
    box-shadow: 0px 7px 10px -7px #261E1E, 2px 3px 9px 3px rgba(0,0,0,0.23);
}

.inputInfoExtra{
    width: 300px;
    height: 100px;
    margin: 5px;
    border-radius:13px;
    border-color: #EBC697;
    background-color: #F9DFC7;
    border-style:double;
    color: #261E1E;
    box-shadow: 0px 7px 10px -7px #261E1E, 2px 3px 9px 3px rgba(0,0,0,0.23);
}

.container{
    display: flex;
    justify-content: center;
}

.celula-imagens{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px
}

.celula-imagens img{
    display: block;
}

.selecaoAnimal{
    text-align: center;
}

.tamanhoAnimal{
    text-align: center;
}