
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html {
    background: url("imagens/FundoPageAdotaPet.png");
}

* {
    margin: 0;
    font-family: 'Fredoka One', cursive;
    color: #261E1E;
}


body {
    
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
    font-weight: lighter;

}


table {
    
    margin: auto;
    height: 500px;
    width: 550px;
    padding: 20px;
    background: linear-gradient(to top, #FEE8DD,#FEE8DD );
    box-shadow: 0px 10px 13px -7px #261E1E, 16px 19px 22px 9px rgba(0, 0, 0, 0.23);
    border-radius: 20px;
}

textarea {
    cursor: pointer;
}

input {
    cursor: pointer;
    padding: 5px;
}

.inputLabel {
    cursor: pointer;
}

#animacao {
    position: relative;
    top: 0;
}
#animacao:hover {
    top: -4px;
    box-shadow: 1px 2px 5px 0px #68401b;
    transition: all .2s ease-in-out;
}

#animacaoCheckbox {
    position: relative;
    top: 0;
    
    
}
#animacaoCheckbox:hover {
    top: -2px;
}

#animacaoLogo{
    position: relative;
    top: 0;
}

#animacaoLogo:hover{
    top: -4px;
    transition: all .2s ease-in-out;
}

.logo{
    margin-top: -75px;
    margin-left: 50px;
    padding:-50px;
    position: absolute; 
    display: flex; 
}

.container{
    margin-top: 50px;
    
}

.tamanhoInput {
    display: inline-block;
    border-radius: 50%;
    width: 18px;
    height: 18px;

}

.titulo {
    font-size: 10px;
}

.posicionamentoTexto {
    margin-top: 10px;
}

.mesclar {
    text-align: center;

}

.inputInfo {
    transition: all 0.3s ease;
    width: 300px;
    height: 20px;
    margin: 5px;
    border-radius: 13px;
    border-color: #553323;
    background-color: #FFE2D3;
    border-style: solid;
    color: #261E1E;
    box-shadow: 0px 7px 10px -7px #261E1E, 2px 3px 9px 3px rgba(0, 0, 0, 0.23);

}

.inputNumero {
    width: 100px;
    height: 20px;
    margin: 5px;
    border-radius: 13px;
    border-color: #553323;
    background-color: #FFE2D3;
    border-style: solid;
    color: #261E1E;
    box-shadow: 0px 7px 10px -7px #261E1E, 2px 3px 9px 3px rgba(0, 0, 0, 0.23);
}

.inputInfoExtra {
    padding: 10px;
    width: 300px;
    height: 100px;
    margin: 5px;
    border-radius: 13px;
    border-color: #553323;
    background-color: #FFE2D3;
    border:2px ;
    border-style: solid;
    color: #261E1E;
    box-shadow: 0px 7px 10px -7px #261E1E, 2px 3px 9px 3px rgba(0, 0, 0, 0.23);
}

.celula-imagens {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 17px;
    margin-bottom: 10px;
}

.celula-imagens img {
    display: block;
}

.selecaoAnimal {
    text-align: center;
}

.tamanhoAnimal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 18px;
}