@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
    font-family: 'Fredoka One', cursive;
    color: #261E1E;
    margin: 0;
    padding: 0;
}
 
a{
    text-decoration: none;
    color: white;
}

body{

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #F7EDE4;
  }

table{
    
    border-color: #261E1E;
    border-width: 2px;
    border-radius: 2px;
    text-align: center;
    margin: auto;
    border-top: 0px;
    border-bottom: none;
    width: 90%
}

label{
    cursor: pointer;
}

#animacao {
    position: relative;
    top: 0;
}
#animacao:hover {
    top: -4px;
    box-shadow: 10px 10px 5px 0px rgba(168, 97, 30, 1);
    transition: all .2s ease-in-out;
}


.fundo{
    background-image:url(imagens/planoDeFundoDoacao2.png);
    background-position: left -250px;
}

.cabecalho{
    height: 200px;
    background-color: #de985e;
    border: 2px solid #261E1E;
 
}
.logo-adota{
    width: 500px;
    
}
.container{
    display: flex;
    
    align-items: center;

 
}
.navegacao-itens{
    display: inline;
    font-size: 25px;
    margin-left: 40px;
    color: #F7EDE4;
    justify-content: center;
    text-align: justify;

}
 
a:hover{
    color: #261E1E;
    transition: 0.3s;
 
}

.doe{
    display: inline;
    padding: 25px;
}

/* .teste{
    display: flex;
    justify-content: center;
    padding: 25px;
    background: #de985e;
    border-radius: 50%;
} */


.posicao{
    margin-top: 20px;
}

.colunaCima{
    height: 380px;
    width: 350px;
    padding-left: 75px;
    padding-right: 75px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-color: #261E1E;
    border-radius: 2px;
    border-width: 2px;
        
}

.colunaBaixo{
  height:90px;  
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-color: #261E1E;
  border-radius: 2px;
  border-width: 2px; 
}

.colunaBaixo25{
    height:90px; 
    border:10px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-color: #261E1E;
    border-radius: 2px;
    border-width: 2px;   
  }

.coluna{
    background-color: bisque;
    border-radius: 50;
}  

.botaoPreco{
    align-items: center;
    padding: 25px;
    padding-left: 30px;
    padding-right: 30px;
    background: #de985e ;
    border-radius: 10%; 
}