*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 13px;
}
a{
    text-decoration: none;
    display: inline-block;
}

body{
    background-color: #FEE8DB;
    font-family: 'Lilita One', cursive;   
}

.background{
    background: linear-gradient(0deg, #FEE8DB 0%, rgba(254, 232, 219, 0) 36.69%), url(imagens/background-laddingpage.png);
    height: 800px;
        
    
}
.logo-adotapet{
    margin-top: 30px;
    width: 410px;   
    
}

#cabecalho{
    max-width: 1280px;
    margin: 0 auto 116px auto;
    

}
#cabecalho .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    margin-left: 53px;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
}

.nav-item:hover{
    color: rgb(105, 105, 105);
    transition: 300ms;
}

.ong-button:hover{
    opacity: 0.9;
    transition: 300ms;
}

.ong-button{
    padding: 23px 80px;

    background: #308BB3;
    border-radius: 20px;
    text-align: center;
    font-family: 'Lilita One', cursive;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    margin-left: 53px;
}
.titulo-home{
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    width: 433px;
}
.sub-home{
    font-family: 'Inria Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-top: 23px;
    margin-bottom: 87px;
}

.button-adotar{
    background: #261E1E;
    border-radius: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 23px 69px;
}

.button-adotar:hover{
    opacity: 0.9;
    transition: 300ms;
}

.button-doar{
    background: #261E1E;
    border-radius: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 23px 80px;
    margin-left: 20px;
}

.button-doar:hover{
    opacity: 0.9;
    transition: 300ms;
}

.container-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.carrosel-main{
    margin-bottom: 130px;
}

.title-cards{
    text-align: center;
    margin-bottom: 68px;
}

.varias-patas{
position: absolute;
width: 720px;
height: 1280px;
left: 0px;
top: 1200px;
}
.varias-patas2{
position: absolute;
width: 720px;
height: 1206.28px;
left: 1300px;
top: 1450px;
}

#rodape{
    width: 1920px;
    height: 360px;
    background: url(imagens/background-laddingpage.png), #4E4E4E;
    background-blend-mode: multiply, normal;
}