    *{
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
} 
html{
    background-image: url(img/);
}   
.logo{
    width: 400px;
    /* background-color: bisque ; */
}
.fundo-logo{
    background-color: #fee8dd ;
    width: 100%;
    /* background-image: url(img/Fundo.png); */
}
ul{
    list-style: none;
    text-decoration: none;
    justify-content: space-around;
    display: flex;
    align-items: right;
    margin-left: 700px;
    margin-top: -50px;

}
.marq{
    background-color: #fee8dd;
    padding: 25px;
}
a{
    text-decoration: none;
    color: black;
    
}
ul,a:hover{
    cursor: pointer;
    color:burlywood;
    transition: 200ms;
}
.container{
    position: relative;
    padding: 100px;
    margin-top: -100px;
    display: flex;
    justify-content: space-between;   
}
.doglateral{
    height: 500px;
    position: wrap;
    width: 900px;
    padding-left: 700px;
    background-color: #fee8dd;
}
.footer{
    background-color: #fee8dd;
    padding: 100px;
    text-align: center;
    color: black;
}
