    *{
    padding: 0;
    margin: 0 0 0 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}  
  
.logo{
    width: 350px;
    padding-left: 80px;
    /* background-color: bisque ; */
}
.fundo-logo{
    background-color: #fee8dd ;
    width: 100%;
    /* background-image: url(img/Fundo.png); */
}
ul{
    list-style: none;
    text-decoration: none;
    justify-content: space-evenly; 
    display: flex;
    align-items: right;
    margin-left: 600px;
    margin-top: -50px;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'PlutoCond';
    

}
.marq{
    background-color: #fee8dd;
    padding: 25px;
    margin-top: -25px;
}
a{
    text-decoration: none;
    color: black;
    
}
ul,a:hover{
    cursor: pointer;
    color:burlywood;
    transition: 200ms;
}
.container{
    position: relative;
    padding: 90px;
    margin-top: -100px;
    display: flex;
    justify-content: space-between;   
}
/* ////////////// */
.doglateral{
    height: 500px ;
    position: wrap;
    /* width: 900px ; */
    padding-left: 900px ;
   
    
}
.fundolateral{
    background-color: #fee8dd!important;
    margin-top: -10px;
    
    
}
/* //////////// */
.footer{
    background-color: #fee8dd;
    padding: 100px;
    text-align: center;
    color: black;
}
#img1, #img2 , #img3 {
    width: 500px;
    height: 335px;
    display: inline-block;
    padding: 60px;

}
.div89{
    background-color: black;
    width: 100%;

}
.div88{
    background-color: black;
    width: 100%;
    justify-content: end;

}
.carousel-inner{
    margin-top: -25px;
}
.escrita-fundo{
    text-align: center;
    display: grid;
    text-align: 250px;
    margin-left: -650px;
    
}